

<div class="comment">
    
    {{#each this}}
    <div class="card">
        <div class="card-header">
            <h6 class="mt-2 text-dark card subtitle"><i class="fas fa-user mr-2">{{ user.username }}</i></h6>
            </div>
            <div class="card-body">
                <div class="text">
                {{comment}}
            </div>
            </div>
    </div>
    <p class="card-footer date"> Comment by {{ user.username }}  on {{created_at}} {{ format_date createdAt }}</p>
    {{/each}}
</div>


