<article class="post">
    <div class="titleWrapper">
        <h2 class="title">{{title}}</h2>
        <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
    </div>
     <div class="post-text">
        {{text}}
    </div>
    <div class="comment-wrapper">
        <a href="/post/{{id}}">{{comment.length}} {{format_plural "comment" comment.length}}</a>
    </div>
</article>